﻿.product
{
    width:250px;
    height:350px;
    
    /*padding:10px;*/
    float:left;
    margin:15px;
    /*box-shadow: 1px 1.5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;*/
    overflow:hidden;
    position:relative;
    font-size:12px;
    background-color:whitesmoke;
    border: 1px solid gainsboro;
}

.img
{
    width:100%;
    height:100%;
}

.product div{
    
   
    
}

.product div span{
    display:block;
    font-weight:bold;
    padding:3px;
    padding-left:5px;
    border-bottom:white thin solid;
    color:black; 
    
}

.product p{
    padding:10px;
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    visibility:hidden;
    background-color:rgba(0, 0, 0, 0.50);
    color:white;
}

.product:hover{
   box-shadow: 2px 4px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
}

.mainImage{
    margin:5px;
    border-bottom:red 1px solid;
        
}


.subImage {
    height:120px;
    margin:5px;
    width:60px !important;
    
}

.navlogin{
    margin-right: 39px !important;
}
.product-body{
    margin-left:220px;
     box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
     padding: 0px 18px;
     width: 876px;
     background-color:white;
}
.filter{
    position:fixed;
    background-color:whitesmoke;
    width:200px;
    padding:20px;
    margin-top:0px;;
     box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
     background-color:white;
     margin-left:14px;
}
.filter-input{
    padding:0px;
    text-align:left;
}

.filter input[type=text], select {
    width: 100%;
    padding: 8px 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.body-content{
    min-height: 860px;
    margin-top: 8px;
    background-color:whitesmoke;
    margin-bottom:35px;
}

.filter button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.filter input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  
  border: 1px solid rgba(81, 203, 238, 1);
}

.Comment-view{
    text-align:left;
    padding: 5px;
}
.product-Image{
width:390px;
box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
background-color:white;
margin:15px;
}
.product-info{
    width:700px;
    box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
    background-color:white;
    margin-top:15px;
}
.product-details-body{
    background-color:whitesmoke;
    box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
    
}
.product-header{
    font-size: 20px;
    font-weight:bold;
    padding: 15px 0px 15px 16px;
    box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
    margin: 13px 20px -8px 15px;
    

}
.dl-horizontal dt{
    text-align:left;
}
.product-details{
     padding:20px;
     box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
     margin: 10px 0px;
}
.Comment{
    padding:20px;
     box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
     margin: 10px 0px;
}
.des-p:hover{
    text-decoration:underline;
    
}
.product-image-all-page{
   width: 247px;
    height: 247px;
    margin: 0 auto;
    padding: 0px !important;
    border-bottom: 1px solid gainsboro;
}
.public-navbar{
    background-color:white!important;
    border-color: gainsboro!important;
    color:black;
}
.public-navbar .navbar-nav > li > a{
    color: darkslategrey;
    font-weight:bold;
    font-size:13px;
}
.navheader{
    margin-left:-25px!important;
}
.public-navbar .navbar-nav > li > a:hover{
    color:black;
}

@media screen and (max-width : 2160px){
.navbar-public{
    padding-left:387px;
}
}

@media only screen and (max-width: 1546px) {
    .navbar-public{
        padding-left:0px!important;
    }
}
@media only screen and (max-width: 1366px) {
.dataTables_scrollBody{
    height:500px!important;
}
}

@media only screen and (max-width: 1304px) {
    .public-navbar .navbar-nav > li > a{
    
    font-size:11px;
}
}
.about-body{
     box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
}
.about-p{
    font-size:14px;
}
.content-about{
     box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
     padding:10px;
     margin-top:20px;
}
.content-developed{
     box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
     padding:10px;
     margin-top:20px;
}
.content-supervised{
     box-shadow: 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
     padding:10px;
     margin-top:20px;
     margin-bottom:20px;
}