﻿@model BDJ.UCommerce.Models.category

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid create-form">
    <div class="details">
        <h2>Details</h2>

        <div>
            <h4>category</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Category
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    Description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt>
                    Parent Category
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.category2.name)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "w3-btn w3-blue-gray" }) |
            <a href="~/Category/Index" class="w3-btn w3-green">Back To List</a>
        </p>
    </div>
</div>