﻿@model BDJ.UCommerce.Models.category

@{
    ViewBag.Title = "Edit";
}


<div class="container-fluid create-form">
    <div class="registration">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="w3-container w3-white">
               
                    <h4>Modify Category</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                        
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })
                        
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.categoryId, "category", htmlAttributes: new { @class = "control-label" })
                        
                            @Html.DropDownList("categoryId", null, "Select", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.categoryId, "", new { @class = "text-danger" })
                        
                    </div>

                <p>
                    <input type="submit" value="Save" class="w3-btn w3-green" />
                    <a href="~/Category/Index" class="w3-btn w3-blue-grey">Back To List</a>
                </p>
                </div>
                }


            </div>
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
