﻿@model IEnumerable<BDJ.UCommerce.Models.category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div class="container-fluid datatable" style="height:auto; background-color:antiquewhite; position:relative">
    <br />
    <a href="../Category/Create" class="btn btn-success" style="margin: 20px 82px;">Add New Category</a>
    <div style="width:90%; margin:0 auto; text-align:center; ">
        <table id="CategoryTable" class="display table" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Parent Category</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    
    <script>
        $(document).ready(function () {
            $("#CategoryTable").dataTable({
                "ajax": {
                    url: "../Category/LoadData",
                    type: "get",
                    datatype: "json",
                    
                },
                "scrollY": "550px",
                "scrollX": "500px",
                "columnDefs": [{
                    "targets": 0,
                    "searchable": false,
                    "visible":false
                }],
                "columns": [
                    { "data": "id" },
                    { "data": "name" },
                    { "data": "description" },
                    { "data": "parent" },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '<a href="../category/edit?id=' + data.id + '"  class="w3-btn w3-blue">Edit</a>'
                        }

                    },
                     {
                         "data": null,
                         render: function (data, type, row) {
                             return '<a href="../category/Delete?id=' + data.id + '"  class="w3-btn w3-red">Delete</a>'
                         }

                     },
                      {
                          "data": null,
                          render: function (data, type, row) {
                              return '<a href="../category/Details?id=' + data.id + '"  class="w3-btn w3-green">Details</a>'
                          }

                      }

                    
                    
                ]
            });
            $('.dataTables_filter').css({ "top": "5px", "right": "0px" });
            $('.dataTables_length').css({ "text-align": "left" });

        });
    </script>
    
    
    }