﻿@model BDJ.UCommerce.Models.productVerified

@{
    ViewBag.Title = "Details";
}

<div class="admin-body-main">

    <div>
        <h4>productVerified</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ip)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.adminUser.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adminUser.UserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>