﻿@model BDJ.UCommerce.Models.message

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="admin-body-main">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>message</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ip)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.message1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.message1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.user.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>