﻿@model BDJ.UCommerce.Models.message

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-body-main">

    <div>
        <h4>message</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ip)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.message1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.message1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.user.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>