﻿@model BDJ.UCommerce.Models.userVerified

@{
    ViewBag.Title = "Details";
}
<div class="admin-body-main">
    <h2>Details</h2>

    <div>
        <h4>userVerified</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.user.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>