﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy & Sell</title>
   @Styles.Render("~/Content/css")
   @Styles.Render("https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
   @Styles.Render("https://www.w3schools.com/w3css/4/w3.css")
   @Styles.Render("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
   @Styles.Render("~/Template/css")
   @Scripts.Render("~/bundles/modernizr")

    
    
<style>

</style>

</head>
<body>
    <div class="container-fluid body-content" style="position:relative; min-height:100%;">
        <div class="navigation-admin">
            <nav class="nav navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Buy & Sell </a>
                    </div>                   
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Product/all"><span class="glyphicons glyphicons-circle-arrow-right"></span> Go to Shop</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-user"></span> Welcome,  @Session["name"].ToString()</a></li>
                        <li><a href="~/Users/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid admin-body" >
        <div class="sidebar-admin">
            <div class="w3-sidebar w3-bar-block w3-light-grey w3-card sidebar-admin-div" style="width:204px;">                               
                <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="refAccFunc()">
                    User <i class="fa fa-caret-down"></i>
                </button>
                <div id="demoAcc" class="w3-hide w3-light-grey w3-card">
                    <a href="~/users/index" class="w3-bar-item w3-button w3-border-bottom">User</a>                   
                    <a href="~/UsersVerified/index" class="w3-bar-item w3-button w3-border-bottom">Verify User</a>
                    <a href="~/UsersAdmin/index" class="w3-bar-item w3-button w3-border-bottom">Admin User</a>
                </div>              
                <a href="~/Country/Index" class="w3-bar-item w3-button w3-border-bottom">Country</a>
                <a href="~/City/index" class="w3-bar-item w3-button w3-border-bottom">City</a>
                <a href="~/Product/Index" class="w3-bar-item w3-button w3-border-bottom">Product</a>
                <a href="~/ProductVerified/Index" class="w3-bar-item w3-button w3-border-bottom">Verify Product</a>               
                <a href="~/Brand/index" class="w3-bar-item w3-button w3-border-bottom">Brand</a>
                <a href="~/Category/index" class="w3-bar-item w3-button w3-border-bottom">Category</a>
                <a href="~/Message/index" class="w3-bar-item w3-button w3-border-bottom">Product Message</a>
                <a href="~/Comment/index" class="w3-bar-item w3-button w3-border-bottom">Product Comments</a>
                <a href="~/ProductImage/index" class="w3-bar-item w3-button w3-border-bottom">Product Image</a>
                <a href="~/Condition/index" class="w3-bar-item w3-button w3-border-bottom">Product Condition</a>
                
            </div>
        </div>
            <div class="main-content-admin">
                @RenderBody()
            </div>
     </div>
             
        <footer class="footer">           
            <p>&copy; @DateTime.Now.Year - Buy & Sell</p>         
        </footer>
    </div> 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dataTable")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js");
    @Scripts.Render("~/Template/js")
    <script>
        function refAccFunc() {
            var x = document.getElementById("demoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-green";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-green", "");
            }
        }
        function proAccFunc() {
            var x = document.getElementById("proAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-green";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-green", "");
            }
        }
        function myDropFunc() {
            var x = document.getElementById("demoDrop");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-green";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-green", "");
            }
        }
    </script>
    @RenderSection("Scripts", required: false)  
</body>
</html>
