﻿@if(Session["type"] != null && Session["type"].ToString() != "")
{

    <ul class="nav navbar-nav navbar-right">
        @if (Session["type"].ToString() == "admin")
        {
            <li><a href="~/Product/Index">Admin Panel</a></li>
        }
        <li><a href="~/Users/LogoutPublic">Logout</a></li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="~/Users/LoginPublic">Login</a></li>
        <li><a href="~/Users/Register">Register</a></li>
    </ul>
}
