﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy & Sell</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    @Styles.Render("https://www.w3schools.com/w3css/4/w3.css")
    @Styles.Render("~/Template/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Products.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" style="position:relative; min-height:100%;">
        
        <div class="navbar navbar navbar-fixed-top public-navbar">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="~/product/all" style="color:dimgrey">Buy & Sell</a>
                </div>
                <div class="navbar-collapse collapse navbar-public">
                    <ul class="nav navbar-nav">
                        <li class="">@Html.ActionLink("Home", "all", "Product")</li>
                        <li><a href="~/Product/All"> All Products</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                Brands
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="color:dimgray">
                                @{
                                    var brands = new BDJ.UCommerce.Models.bdjUCommerceEntities().brands;
                                    foreach (var brand in brands)
                                    {
                                        if (brand.products.Count() > 0)
                                        {
                                            @Html.Raw("<li><a href=\"../../Product/All?brand=" + brand.id.ToString() + "\">" + brand.name + "( " + brand.products.Count().ToString() + " )" + "</a></li>");
                                        }
                                    }
                                }
                            </ul>
                        </li>

                        @{
                            var categories = new BDJ.UCommerce.Models.bdjUCommerceEntities().categories.Where(ctg => ctg.category2 == null);
                            foreach (var category in categories)
                            {
                                if (category.category1.Count() > 0)
                                {
                                    <li class="dropdown" style="color:dimgray">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/Product/Category/@category.id">
                                            @category.name
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @foreach (var child in category.category1)
                                            {
                                                <li><a href="~/Product/Category/@child.id">@child.name</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="~/Product/Category/@category.id">@category.name</a></li>
                                }
                            }
                        }

                        @*<li class="">@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li class="">@Html.ActionLink("About", "About", "Home")</li>

                        @if (Session["type"] != null && Session["type"].ToString() != "")
                        {
                            <li class="dropdown" style="color:dimgray">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:dimgray">
                                    @Session["name"].ToString()
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li><a href="#">Login History</a></li>
                                    
                                </ul>
                            </li>
                            @*<li>@Html.ActionLink("Live Message", "Dasboard", "Message")</li>*@

                        }


                    </ul>
                    <div class="navlogin">
                        @Html.Partial("_LoginPublic")
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid body-content" style="padding-top:47px;">

            @RenderBody()


        </div>
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Buy & Sell </p>
        </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/dataTable")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js");
        @Scripts.Render("~/Template/js")
        @*<script type="text/javascript">
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
            $('ul.nav a').filter(function() {
                 return this.href == url;
            }).parent().addClass('active');
        });


    </script>*@ 
        @RenderSection("scripts", required: false)
</body>
</html>
