﻿@model IEnumerable<BDJ.UCommerce.Models.product>

@{
    ViewBag.Title = "All Products";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<div class="container">
<div class="col-md-2 filter">
    <div>
        <form method="post" action="" novalidate>
            <div class="filter-input">
                <input class="" type="text" name="search" placeholder="Keyword.." value="@ViewBag.search" />
            </div>
            <div class="filter-input">
                <label>Brand</label>
                @Html.DropDownList("brand", new SelectList(new BDJ.UCommerce.Models.bdjUCommerceEntities().brands, "id", "name", ViewBag.brand),"Select")
            </div>
            <div class="filter-input">
                <label>Price From</label>

                <input type="text" name="priceFrom" value="@ViewBag.priceFrom" />
            </div>
            <div class="filter-input">
                <label>Price To</label>
               
                <input type="text" name="priceTo" value="@ViewBag.priceTo" />
            </div>
            <div class="filter-input">
                <input type="radio" name="nego" value="all" @{ if (ViewBag.nego == "all") { @Html.Raw("checked")      } } /> All
            </div>
            <div class="filter-input">
                <input type="radio" name="nego" value="Fixed" @{ if (ViewBag.nego == "Fixed") { @Html.Raw("checked")       } } /> Fixed Price
            </div>
            <div class="filter-input">
                <input type="radio" name="nego" value="Not Fixed" @{ if (ViewBag.nego == "Not Fixed") { @Html.Raw("checked")        } } /> Negotiable
            </div>
                @*<button type="submit" name="submit" value="Search" class="btn btn-default" />*@
            <button type="submit">Search</button>
</form>
    </div>
</div>
    <div class="col-md-10 product-body">
        @foreach (var item in Model)
        {
            <div class="product">
                
                <div class="product-image-all-page">
                    <a href="~/Product/Details/@item.Id">
                        @if (item.productImages.Count > 0)
                        {
                            var pi = item.productImages.First();
                            <img class="img" src="~/uploads/productImages/@(pi.Id.ToString() + "_" + pi.Image)" title="@item.productImages.Count" />
                        }
                        else
                        {
                            <img class="img" src="~/uploads/productImages/noproductimage.png" />
                        }
                    </a>
                </div>
                <div class="product-description-all-page">
                    <div class="des-p">
                        <a href="~/Product/Details/@item.Id">
                            @*<span>@Html.Raw(item.Name.Replace(ViewBag.search, "<hl>" + ViewBag.search + "</hl>")), <i>@item.condition.Name </i></span>*@
                            <span>Brand : @item.brand.name  Category: @item.category.name</span>
                            <span>Regular Price : <i style="text-decoration:line-through;">@item.RegularPrice </i> Offer Price : @item.OfferPrice</span>
                            </a>
                    </div>

                    <div>
                        <span>
                            Comments : <a href="#">@item.comments.Count</a>
                            @if (Session["type"].ToString() == "")
                            {
                                @Html.Raw("Like")
                            }
                            else
                            {
                                var uid = (int)Session["id"];
                                var plu = item.productLikes.Where(pl => pl.UserId == uid);
                                if (plu.Count() <= 0)
                                {
                                    <a href="~/Product/All?like=@item.Id">Like</a>
                                }
                                else
                                {
                                    <a href="#">You Liked</a>
                                }
                            }
                            : <a href="#">@item.productLikes.Count</a>
                        </span>
                    </div>
                </div>

                <p>@item.Description</p>

            </div>
        }
    </div>

</div>