﻿@model BDJ.UCommerce.Models.product

@{
    ViewBag.Title = "Create";
}



<div class="container-fluid create-form">
    <div class="registration">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="w3-container w3-white">               
                    <h4>Add Product</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p>
                    
                       <label>Product Name</label>
                       
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "w3-input" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                       
                </p>
                <p>
                   <label>Description</label>

                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </p> 
                <p>                    
                            @Html.DropDownList("CategoryId", null, "Select Category", htmlAttributes: new { @class = "w3-select" })
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })                      
                </p>
                <p>                    
                        
                            @Html.DropDownList("BrandId", null, "Select Brand", htmlAttributes: new { @class = "w3-select" })
                            @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })                     
                </p>
                <p>
                       
                      
                            @Html.DropDownList("ConditionId", null, "Select Condition", htmlAttributes: new { @class = "w3-select" })
                            @Html.ValidationMessageFor(model => model.ConditionId, "", new { @class = "text-danger" })
                     
                </p>
                <p>
                    <label> Regular Price</label>

                    @Html.EditorFor(model => model.RegularPrice, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.RegularPrice, "", new { @class = "text-danger" })
                </p>

                <p>
                    <label>Offer Price</label>

                    @Html.EditorFor(model => model.OfferPrice, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.OfferPrice, "", new { @class = "text-danger" })
                </p>
 
                    
                        
                <p>
                    <select id="Negotiable" name="Negotiable" class="w3-select">
                        <option selected="selected" value="">Select Fixed / Negotiable</option>
                        <option value="true">Negotiable</option>
                        <option value="false">Fixed</option>
                    </select>                  
                    @Html.ValidationMessageFor(model => model.Negotiable, "", new { @class = "text-danger" })

                </p>

                <p>
                    <label>Link</label>

                    @Html.EditorFor(model => model.Links, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.Links, "", new { @class = "text-danger" })
                </p> 

                <p>
                    <label>Video</label>

                    @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                </p> 
                   
                <p>
                    <input type="submit" value="Add Product" class="w3-btn w3-green" />                   
                        <a href="~/Product/Index" class="w3-btn w3-blue-grey">Back To List</a>                    
                </p>
        </div>
                }

            </div>
 </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
