﻿@model BDJ.UCommerce.Models.product

@{
    ViewBag.Title = "Delete";
}




<div class="container-fluid create-form">
    
    <div class="delete-data">
        <h3>Are you sure you want to delete this?</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Product Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegularPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegularPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OfferPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OfferPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Negotiable)
            </dt>

            <dd>
                @if(Model.Negotiable == true)
            {
            @Html.Raw("Yes")
            }
            else
            {
            @Html.Raw("No")
            }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Links)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Links)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Video)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Video)
            </dd>

            <dt>
                Create Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                Ip Address
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ip)
            </dd>

            <dt>
                Brand
            </dt>

            <dd>
                @Html.DisplayFor(model => model.brand.name)
            </dd>

            <dt>
                Category
            </dt>

            <dd>
                @Html.DisplayFor(model => model.category.name)
            </dd>

            <dt>
                Condition
            </dt>

            <dd>
                @Html.DisplayFor(model => model.condition.Name)
            </dd>

            <dt>
                Created By
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user.Name)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="w3-container w3-white">
       
            <input type="submit" value="Delete" class="w3-btn w3-red" /> |
            <a href="~/Product/Index" class="w3-btn w3-green">Back to List</a>
       
    </div>
            }
    </div>
</div>