﻿@model BDJ.UCommerce.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<script type="text/javascript">

    function changeImage(id)
    {
        document.getElementById("mainImage").setAttribute("src", document.getElementById(id).getAttribute("src"));
    }

</script>



<div class="container product-details-body">
    <div class ="product-header">@Model.Name Details:</div>
    <div class="col-md-4 row product-Image" >

        @if (Model.productImages.Count <= 0)
        {
            <img id="mainImage" class="col-md-12" src="../../uploads/productImages/noproductimage.png" />
        }
        else
        {
            var pi = Model.productImages.First();
            <img id="mainImage" class="col-md-12 mainImage" src="../../uploads/productImages/@(pi.Id.ToString() + "_" + pi.Image)" />
        }


        @{
                int i = 0;
                foreach (var pi in Model.productImages)
                {
                   @Html.Raw("<img id=\"subImage" + i.ToString() + "\" class=\"subImage\" src=\"../../uploads/productImages/" + pi.Id.ToString() + "_" + pi.Image + "\" onClick=\"changeImage('subImage" + i.ToString() + "')\" />")
                i++;
            }
            }




    </div>


    <div class="col-md-6 product-info">
        <div class="product-details">
            <dl class="dl-horizontal">
                <dt>
                    Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                   Description:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Regular Price
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegularPrice)
                </dd>

                <dt>
                    Offer Price
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OfferPrice)
                </dd>

                <dt>
                    Negotiable
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Negotiable)*@
                    @if(Model.Negotiable != true)
                    {
                        @Html.Raw("No")
                    }
                    else
                    {
                        @Html.Raw("Yes")
                    }
                </dd>

                <dt>
                   Links
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Links)
                </dd>

                <dt>
                    Video
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Video)
                </dd>

                <dt>
                   CreateDate
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>

                <dt>
                   Ip Address
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ip)
                </dd>

                <dt>
                    Brand
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.brand.name)
                </dd>

                <dt>
                   Category
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.category.name)
                </dd>

                <dt>
                   Condition
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.condition.Name)
                </dd>

                <dt>
                   Created By
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.Name)
                </dd>

            </dl>
            <div class="btn btn-success" style="color:white;">
                @if (Session["id"].ToString() != null && Session["id"].ToString() != "")
        {
        <a href="~/Message/Dasboard?product=@Model.Id">Send Message</a>
        }
        else
        {
        <a href="~/Users/login">Send Message</a>
        }

            </div>

        </div>
        <div class="Comment">
            @if (Session["type"] != null && Session["type"].ToString() != "")
            {
                <form method="post" action="">
                    <div class="form-group">
                        <textarea name="comments" id="comments" required></textarea>
                        <input type="hidden" value="@Model.Id" />
                        <input type="submit" name="submit" class="btn-default" value="Comment" />
                    </div>

                </form>
            }
            <div class="commet-section" style="margin-top:10px;">
                <h6>Comments</h6>
                @foreach (var cmt in Model.comments)
                { <div class="row Comment-view">
                    <div class="col-md-4" style="font-weight:bold;">
                        @cmt.user.Name<br>
                        @cmt.DateTime.ToString()
                    </div>
                    <div class="col-md-6">
                        @cmt.Comment1
                    </div>
                  
                </div>
                }

            </div>
        </div>
    </div>


   


</div>



