﻿@model BDJ.UCommerce.Models.product

@{
    ViewBag.Title = "Edit";
}



<div class="container-fluid create-form">
    <div class="form-edit">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="w3-container w3-white">
                
                    <h4>Modify Product</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
                        
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label" })
                        
                            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BrandId, "BrandId", htmlAttributes: new { @class = "control-label" })
                        
                            @Html.DropDownList("BrandId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConditionId, "ConditionId", htmlAttributes: new { @class = "control-label " })
                        
                            @Html.DropDownList("ConditionId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConditionId, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label" })
                        
                            @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RegularPrice, htmlAttributes: new { @class = "control-label" })
                        
                            @Html.EditorFor(model => model.RegularPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RegularPrice, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OfferPrice, htmlAttributes: new { @class = "control-label " })
                        
                            @Html.EditorFor(model => model.OfferPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OfferPrice, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Negotiable, htmlAttributes: new { @class = "control-label" })
                        
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Negotiable)
                                @Html.ValidationMessageFor(model => model.Negotiable, "", new { @class = "text-danger" })
                            </div>
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Links, htmlAttributes: new { @class = "control-label" })
                        
                            @Html.EditorFor(model => model.Links, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Links, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Video, htmlAttributes: new { @class = "control-label " })
                        
                            @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label" })
                        
                            @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ip, htmlAttributes: new { @class = "control-label" })
                        
                            @Html.EditorFor(model => model.Ip, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ip, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Modify" class="w3-btn w3-green" />
                            <a href="~/Product/Index" class="w3-btn w3-blue-grey">Back To List</a>  
                        </div>
                    </div>
                </div>
            
        }
            </div>
  </div>
        

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
