﻿@model IEnumerable<BDJ.UCommerce.Models.product>

@{
    ViewBag.Title = "Index";
}



<div class="container-fluid datatable" style="height:auto; background-color:antiquewhite; position:relative">
    <br />
    <a href="../Product/Create" class="w3-btn w3-blue-grey" style="margin: 20px 82px;">Add New Product</a>
    <div style="width:90%; margin:0 auto; text-align:center; ">
        <table id="Table" class="display table " style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Condition</th>
                    <th>Created By</th>
                    <th>RegularPrice</th>
                    <th>OfferPrice</th>
                    <th>Negotiable</th>
                    <th>Link</th>
                    <th>Video</th>
                    <th>CreateDate</th>
                    <th>Ip</th>
                    <th></th>
                    <th></th>
                    <th></th>
                 
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#Table').DataTable({               
                "ajax": {
                    url: "../Product/LoadData",
                    type: "get",
                    datatype: "json"
                    
                },
                "scrollX": "700px",
                "scrollY": "700px",
                "columnDefs": [{
                    "targets": 0,
                    "searchable": false,
                    "visible":false
                }],
                "columns": [
                    { "data": "Id" },
                    {
                        "data": "Name",
                        render: function (Name) {
                            return Name.substr(0, 8) + "..";
                        }
                    },
                    { "data": "Description" },
                    { "data": "Category" },
                    { "data": "Brand" },                    
                    {
                        "data": "Condition",
                        render: function (Condition) {
                            return Condition.substr(0,5)+"..";
                        }
                    },
                    { "data":"CreatedBy"},
                    { "data": "RegularPrice" },
                    { "data": "OfferPrice" },
                    {
                        "data": "Negotiable",
                        render: function (data) {
                            if (data == false) {
                                return "Yes";
                            }
                            else {
                                return "No";
                            }
                        }
                    },
                    {
                        "data": "Links",
                        render: function (Links) {
                            return '<a href=' + Links + '>' + Links.substr(0, 5) + ".." + '</a>';
                        }
                    },
                    { "data": "Video" },
                    {
                        "data": "CreateDate",
                        render: function (data) {
                            var date = new Date(parseInt(data.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }
                    },
                    { "data": "Ip" },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '<a href="../Product/edit?id=' + data.Id + '" class="w3-btn w3-blue">Edit</a>'
                        }

                    },
                     {
                         "data": null,
                         render: function (data, type, row) {
                             return '<a href="../Product/Delete?id=' + data.Id + '" class="w3-btn w3-red">Delete</a>'
                         }

                     },
                      {
                          "data": null,
                          render: function (data, type, row) {
                              return '<a href="../Product/Details?id=' + data.Id + '" class="w3-btn w3-green">Details</a>'
                          }

                      }
                  

                ]
            });
            $('.dataTables_filter').css({ "top": "5px", "right": "0px" });
            $('.dataTables_length').css({ "text-align": "left" });

        });
    </script>


}