﻿@model BDJ.UCommerce.Models.user

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid create-form">
    <div class="delete-data">

        <h3>Are you sure you want to delete this?</h3>
        <div>
           
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                <dd>
                    @if(Model.Gender == true)
                    {
                        @Html.Raw("Male")
                    }
                    else
                    {
                        @Html.Raw("Female")
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.JoinDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.JoinDate)
                </dd>

                <dt>
                    Ip Address
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ip)
                </dd>

                <dt>
                   Date Of Birth
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    Status
                </dt>

                <dd>
                    @if(Model.adminUser.UserId.ToString() != "")
                    {
                        @Html.Raw("Administrator")
                    }
                    else
                    {
                        @Html.Raw("User")
                    }
                    
                </dd>

                <dt>
                    City
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.city.name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="w3-btn w3-red" /> |
                    <a href="~/Users/Index" class="w3-btn w3-green">Back to List</a>
                </div>
            }
        </div>
</div>
</div>