﻿@model BDJ.UCommerce.Models.user

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid create-form">
    <div class="details">
        <div>
            <span><img src="../uploads/usersImages/@Model.Id.ToString()_@Model.Image"  style="width:200px; height:200px;"/></span>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                <dd>
                    @if(Model.Gender == true)
                    {
                        @Html.Raw("Male")
                    }
                    else {
                        @Html.Raw("Female")
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.JoinDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.JoinDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ip)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ip)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Image)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.adminUser.UserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.adminUser.UserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.city.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.city.name)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "w3-btn w3-blue-gray" }) |
            <a href="~/Users/Index" class="w3-btn w3-green">Back To List</a>
        </p>
</div>
</div>