﻿@model IEnumerable<BDJ.UCommerce.Models.user>

@{
    ViewBag.Title = "Index";
}



<div class="container-fluid datatable" style="height:auto; background-color:antiquewhite; position:relative">
    <br />
    <div style="width:90%; margin:0 auto; text-align:center; ">
        <table id="DataTable" class="display table" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Ip</th>
                    <th>DateOfBirth</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Products</th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    

                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#DataTable").dataTable({
                "ajax": {
                    url: "../Users/LoadData",
                    type: "get",
                    datatype: "json",
                },
                "scrollY": "700px",
                "scrollX":"700px",
                "columnDefs": [{
                    "targets": 0,
                    "searchable": false,
                    "visible":false
                }
               
                ],
                "columns": [
                    { "data": "Id" },
                    { "data": "Name" },
                    { "data": "Contact" },
                    { "data": "Email" },
                    {
                        "data": "Gender",
                        render: function (data) {
                            if (data == 1) {
                                return "Male";
                            }
                            else {
                                return "Female";
                            }
                        }
                    },
                    { "data": "Ip" },
                    {
                        "data": "DateOfBirth",
                        render: function (data) {
                            var date = new Date(parseInt(data.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }
                    },
                    { "data": "Address" },
                    {"data":"City"},
                    { "data": "Country" },
                    { "data": "Products" },
                    {
                        "data": null,
                        render: function (data) {
                            return '<img src = "../uploads/usersImages/' + data.Id + '_' + data.Image + '" height="100"/>';
                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '<a href="../Users/edit?id=' + data.Id + '" class="w3-btn w3-blue">Edit</a>'
                        }

                    },
                     {
                         "data": null,
                         render: function (data, type, row) {
                             return '<a href="../Users/Delete?id=' + data.Id + '" class="w3-btn w3-red">Delete</a>'
                         }

                     },
                      {
                          "data": null,
                          render: function (data, type, row) {
                              return '<a href="../Users/Details?id=' + data.Id + '" class="w3-btn w3-green">Details</a>'
                          }

                      }



                ]
            });
            $('.dataTables_filter').css({ "top": "5px", "right": "0px" });
            $('.dataTables_length').css({ "text-align": "left" });

        });
    </script>


}