﻿@model BDJ.UCommerce.Models.LoginModel

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "Login";
}

<div class="registration">
    <form action="~/Users/login" method="post" name="Login_Form" class="w3-container w3-white">
        @Html.AntiForgeryToken()
        <h3>Please Login in as an Admin..</h3>
        <hr />
        <div class="text-danger" style="margin-bottom:10px;"><b>@ViewBag.error</b></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>
            <label>E-mail Address</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </p>
        <p>
            <label>Password</label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </p>
        <p>
            <input type="submit" value="Log me in" class="w3-btn w3-green" />
            
        </p>

    </form>
</div>
