﻿@model BDJ.UCommerce.Models.LoginModel

@{
    ViewBag.Title = "Login Public";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="registration">
    <form action="~/Users/loginPublic" method="post" name="Login_Form" class="w3-container w3-white" >
        @Html.AntiForgeryToken()
        <h2>Please Login Here..</h2>
        <hr />
        <div class="text-danger" style="margin-bottom:10px;"><b>@ViewBag.error</b></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>
            <label>E-mail Address</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </p>
        <p>
            <label>Password</label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </p>
        <p>
            <input type="submit" value="Log me in" class="w3-btn w3-green" />
            <a href="~/Users/Register" class="w3-btn w3-blue-gray">Sign-Up Here</a>
        </p>

    </form>
</div>

