﻿
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="container about-body">
    <h2 style="padding:20px; text-align:center;">You have logged out successfully</h2>
    <hr />
</div>