﻿@model BDJ.UCommerce.Models.user

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "Create";
}



<div class="registration">
    <form method="post" action="" class="w3-container w3-white" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <h3>User Registration Form</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <p>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </p>
        <p>
            @Html.LabelFor(model => model.Contact)
            @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        </p>
        <p>
            <label>Password</label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </p>
        <p>
            <label>Confirm Password</label>
            <input type="password" name="retype" class="w3-input" required />
            <span class="text-danger">@ViewBag.eretype</span>

        </p>
        <p>
            
            <select name="Gender" id="Gender" class="w3-select">
                <option value="">Select Gender</option>
                <option value="True">Male</option>
                <option value="False">Female</option>
            </select>
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

        </p>
        <p>
            <label>Date Of Birth</label>
            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
        </p>
        <p>
            <label>Address</label>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "w3-input" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </p>
        <p>
            
            @Html.DropDownList("CityId", null, "Select City", htmlAttributes: new { @class = "w3-select" })
            @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })

        </p>
        <p class="w3-btn w3-blue btn-file">
           
           Browse Image <input type="file" name="Image" id="Image" class="w3-input" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })

        </p>
        <p>
            <input class="w3-btn w3-blue-grey" type="submit" value="Register">
            <a href="~/Users/LoginPublic" class="w3-btn w3-green" >Login me in</a>
        </p>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
