﻿@model IEnumerable<BDJ.UCommerce.Models.comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid datatable" style="height:auto; background-color:antiquewhite; position:relative">
    <br />
    <a href="../Comment/Create" class="btn btn-success" style="margin: 20px 82px;">Add New Comment</a>
    <div style="width:90%; margin:0 auto; text-align:center; ">
        <table id="DataTable" class="display table" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>CreatedBy</th>
                    <th>Time</th>
                    <th>Ip</th>
                    <th>Comment</th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#DataTable").dataTable({
                "ajax": {
                    url: "../Comment/LoadData",
                    type: "get",
                    datatype: "json",

                },
                "scrollY": "600px",
                "scrollX": "700px",
                "columnDefs": [{
                    "targets": 0,
                    "searchable": false,
                    "visible":false
                }],
                "columns": [
                    { "data": "Id" },
                    { "data": "Product" },
                    { "data": "CreatedBy" },
                    {
                        "data": "DateTime",
                        render: function (data) {
                            var date = new Date(parseInt(data.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }
                    },
                    { "data": "Ip" },
                    {"data":"Comment"},
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '<a href="../Comment/edit?id=' + data.Id + '" class="w3-btn w3-blue">Edit</a>'
                        }

                    },
                     {
                         "data": null,
                         render: function (data, type, row) {
                             return '<a href="../Comment/Delete?id=' + data.Id + '" class="w3-btn w3-red">Delete</a>'
                         }

                     },
                      {
                          "data": null,
                          render: function (data, type, row) {
                              return '<a href="../Comment/Details?id=' + data.Id + '" class="w3-btn w3-green">Details</a>'
                          }

                      }



                ]
            });
            $('.dataTables_filter').css({ "top": "5px", "right": "0px" });
            $('.dataTables_length').css({ "text-align": "left" });

        });
    </script>


}