﻿@model BDJ.UCommerce.Models.brand

@{
    ViewBag.Title = "Create";
}


<div class="container-fluid create-form">
    <div class="registration">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="w3-container w3-white">
                <div class="form-horizontal">
                    <h4>Add Brand</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p>
                        <label>Name</label>

                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "w3-input" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        <label>Description</label>

                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "w3-input" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </p> 

                    <p>
                        <label>Origin</label>

                        @Html.EditorFor(model => model.origin, new { htmlAttributes = new { @class = "w3-input" } })
                        @Html.ValidationMessageFor(model => model.origin, "", new { @class = "text-danger" })
                    </p>   
                    <p>
                        <input type="submit" value="Add" class="w3-btn w3-green" />
                        <a href="~/Brand/Index" class="w3-btn w3-blue-grey">Back To List</a>
                    </p>
                </div>
              </div>
                }

                
            </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
