﻿@model BDJ.UCommerce.Models.brand

@{
    ViewBag.Title = "Delete";
}


<div class="container-fluid create-form">
    <div class="delete-data">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                   Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                   Description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt>
                   Orgin
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.origin)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="w3-container w3-white">
                    <input type="submit" value="Delete" class="w3-btn w3-red" /> |
                    <a href="~/Brand/Index" class="w3-btn w3-green">Back to List</a>
                </div>
            }
        </div>
    </div>
</div>