﻿@model BDJ.UCommerce.Models.brand

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid create-form">
    <div class="details">
        <h2>Details</h2>

        <div>
          
            <hr />
            <dl class="dl-horizontal">
                <dt>
                   Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    Description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt>
                    Origin
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.origin)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "w3-btn w3-blue-gray" }) |
            <a href="~/Brand/Index" class="w3-btn w3-green">Back To List</a>
        </p>
        </div>
</div>