﻿@model BDJ.UCommerce.Models.city

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid create-form">
    <div class="registration">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="w3-container w3-white">

                <h3>Add City</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p>
                    <label>City Name</label>

                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </p>

                <p>
                    @Html.DropDownList("countryId", null, "Select Country", htmlAttributes: new { @class = "w3-select" })
                    @Html.ValidationMessageFor(model => model.countryId, "", new { @class = "text-danger" })
                </p>
                <p>
                    <input type="submit" value="Add" class="w3-btn w3-green" />
                    <a href="~/Country/Index" class="w3-btn w3-blue-grey">Back To List</a>
                </p>
            </div>
        }
    </div>
</div>

