﻿@model BDJ.UCommerce.Models.city

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid create-form">
    <div class="details">
        <h2>Details</h2>
       
        <hr />
        <dl class="dl-horizontal">
            <dt>
               <b>City Name</b> 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                <b>Country Name</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.country.name)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "w3-btn w3-blue-gray" }) |
            <a href="~/City/Index" class="w3-btn w3-green">Back To List</a>
        </p>
    </div>
</div>

