﻿@model BDJ.UCommerce.Models.city

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid create-form">
    <div class="registration">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="w3-container w3-white">
                
                    <h4>Mofify City</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                <p>
                    <label>City Name</label>

                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </p>   

                <p>
                    <label>Country </label>

                    @Html.DropDownList("countryId", null, htmlAttributes: new { @class = "w3-input" })
                    @Html.ValidationMessageFor(model => model.countryId, "", new { @class = "text-danger" })
                </p>   

                <p>
                    <input type="submit" value="Save" class="w3-btn w3-green" />
                    <a href="~/City/Index" class="w3-btn w3-blue-grey">Back To List</a>
                </p>
           </div>
        }
    </div>
</div>
