﻿@model IEnumerable<BDJ.UCommerce.Models.city>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid datatable" style="height:auto; background-color:antiquewhite; position:relative">
    <br />
    <a href="../City/Create" class="btn btn-success" style="margin: 20px 82px;">Add New City</a>
    <div style="width:90%; margin:0 auto; text-align:center; ">
        <table id="DataTable" class="display table" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Users</th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#DataTable").dataTable({
                "ajax": {
                    url: "../City/LoadData",
                    type: "get",
                    datatype: "json",
                },
                "scrollY": "600px",
                "scrollX": "700px",
                "columnDefs": [{
                    "targets": 0,
                    "searchable": false,
                    "visible":false
                }],
                "columns": [
                    { "data": "id" },
                    { "data": "City" },
                    { "data": "Country" },
                    {"data":"Users"},
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '<a href="../City/edit?id=' + data.id + '" class="w3-btn w3-blue">Edit</a>'
                        }

                    },
                     {
                         "data": null,
                         render: function (data, type, row) {
                             return '<a href="../City/Delete?id=' + data.id + '" class="w3-btn w3-red">Delete</a>'
                         }

                     },
                      {
                          "data": null,
                          render: function (data, type, row) {
                              return '<a href="../City/Details?id=' + data.id + '" class="w3-btn w3-green">Details</a>'
                          }

                      }



                ]
            });
            $('.dataTables_filter').css({ "top": "5px", "right": "0px" });
            $('.dataTables_length').css({ "text-align": "left" });

        });
    </script>


}
