﻿@model BDJ.UCommerce.Models.country

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid create-form">
    <div class="registration">
        <form action="~/Country/Create" method="post" class="w3-container w3-white">
            @Html.AntiForgeryToken()


            <h2>Create Country</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <p>
                <label>Country Name</label>

                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "w3-input" ,@placeholder ="Country name"} })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })


            </p>
            <p>
                <input type="submit" value="Create" class="w3-btn w3-green" />
                <a href="~/Country/Index" class="w3-btn w3-blue-gray">Back to List</a>
            </p>


        </form>
    </div>
        
</div>