﻿@model BDJ.UCommerce.Models.country

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid create-form">
    <div class="registration">
       @using (Html.BeginForm())
       {
        <div class="w3-container w3-white">

            @Html.AntiForgeryToken()


            <h3>Modify Country</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <p>
                <label>Country Name</label>

                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "w3-input" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </p>
            <p>

                <input type="submit" value="Create" class="w3-btn w3-green" />
                <a href="~/Country/Index" class="w3-btn w3-blue-gray">Back to List</a>
            </p>

        </div>

       }
    </div>

</div>
