﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}



<div class="container about-body">
    <div class="content-about">
        <h1>Buy & Sell</h1>
        <hr />
        <p class="about-p">
            There is a great power in the people around us. They motivate and inspire us. The more we draw from them, the more we rewarded we are.
            Buy & Sell is an  E-Commerce web application which is developed for the people around us. By using this application, anyone will be able to buy and sell (used and New) products easily. Our target is to give facility to the people, who want to do small business or sell his/her own products without taking any hassle.
        </p>
        <p class="about-p">
            Buy & Sell web application built with ASP.NET MVC, Entity Framwork, MSSQL, HTML, CSS, Bootstraps, W3c, JQuery, DataTable, Media Query.
        </p>
    </div>
    <div class="content-developed">
        <h1>Developed By</h1>
        <hr />
        <h3>ABU SYEED AHMED</h3>
        <p>LICT_TUP_OFF_BDJ_20_.NET <br />
        <a href="#">mishusyeed@gmail.com</a><br />
        <a href="www.aiub.edu">AMERICAN INTERNATIONAL UNIVERSITY-BANGLADESH</a>
        </p>
    </div>
    <div class="content-supervised">
        <h1>Supervised By</h1>
        <hr />
        <h3>ASADUZZAMAN ARIF</h3>
        <p>Master Trainer(EY) LICT Project<br />
        BCC ICT Ministry</p>
    </div>
</div>