﻿@model IEnumerable<BDJ.UCommerce.Models.productImage>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<div class="container product-home">
    <div class="SlideShow">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/uploads/productImages/11_w1.jpg" alt="Los Angeles" style="width:100%; height:500px">
                </div>
                @{
                    var count = 0;

                    foreach (var item in Model)
                    {


                        <div class="item item@(count)">
                            <img src="~/uploads/productImages/@(item.Id.ToString() + "_" + item.Image)" alt="Los Angeles" style="width:100%; height:500px">
                        </div>

                    count = count + 1;
                  }
                }
                
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>